


*{
    margin: 0;
}
/* Navbar section */


.navbar{
    padding: 16px auto;
    background-color: #1A0B2E;

}



.navpp{
    color: #1A0B2E;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    
}


.navm{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.navp{
    font-size: 2.5rem;
    font-weight: 800;

}


.navps{
    color: beige;
    

}

.navul{
    font-size: 16px;
    opacity: 70%;
    color: #FFFFFF;
    gap: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbtn{
    font-size: 16px;
    font-weight: 300;
    max-width: 135px;
    max-height: 44px;
    padding: 12px 16px;
    gap: 4px;
    border-radius: 100px;
    background: linear-gradient(to right, yellow,red,purple);

}

.navbtnh{
    display: none;
}


/* Banner section */

.bantext{
    padding-bottom: 150px;
}


.circle{

    position: relative;
    top: -150px;
    
    width: 500px;
    height: 500px;
    background-image: url(./assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 4;
}


.outer{
    height: 100vh;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;

}



.inner{

    position: relative;
    top: -10px;
    right: -30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

    transform: rotate(360deg);
    transition: transform 10s ease-in-out 2s;
    z-index: 2;
}

.newb{
    width: 75px;
    gap: 10px;
    padding: 8px 16px;
    border: 1px solid none;
    border-radius: 10px;
    background-color: #00FF88;
    color: #1A0B2E;
    position: relative;
    bottom: 300px;
    right: 50px;

}

.new{
    z-index: 1;


}



.bantext{
    background-color: #1A0B2E;

}
.btm{
    max-width: 550px;
    color: #FFFFFF;
    margin: 0 auto;


}

.btmp{
    font-size: 60px ;
    font-weight: bolder ;
    text-align: center;

}
.btmd{
    font-size: 16px ;
    text-align: center;

}
.btmbtn{
    text-align: center;
}

.bbtn1{
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(to left,yellow,pink,purple) ;
    width: 200px;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 20px;
}

.bbtn2{
    font-size: 1rem;
    font-weight: 600;
    width: 140px;
    gap: 8px;
    padding: 12px 20px;
    color: #00FF88;
    background-color: transparent;
    border-radius: 20px;



}


/* About section */

.about{
    padding-bottom: 120px;
    background-color: #1A0B2E;


}

.aboutm{
    display: flex;
    flex-direction: column;

}

.aboutup{
    text-align: center;
    padding: 50px 200px 150px;
    transition: padding 4s ease-out 2s;
}

.aboutuph{
    /* max-width: 1200px; */
    font-size: 48px;
    font-weight: bold;
    padding: 0 auto;
    color: #FFFFFF;

}


.aboutupd{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.aboutdn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.aboutdndh3{
    color: #00FF88;
    font-size: 48px;
    max-width: 240px;
    
    
}

.aboutdndp{
    color: #FFFFFF;
    font-size: 16px;
    max-width: 240px;

}

/* WSC section */

.wcs{
    background-color: #230E3D;
    padding-bottom: 120px;
}



  
.wcsmt{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 120px 200px;
    color:#FFFFFF;
}



.wcsmc1{
    grid-area: a1;
}
.wcsmc2{
    grid-area: a2;
}
.wcsmc3{
    grid-area: a3;
}
.wcsmc4{
    grid-area: a4;
}
.wcsmc5{
    grid-area: a5;
}

.wscmc{
    max-width: 1200px;
    
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    

    grid-template-areas: 
    "a1 a2 a2"
    "a1 a3 a3"
    "a4 a4 a5"
    ;
}


.wcsmc1, .wcsmc2, .wcsmc3, .wcsmc4, .wcsmc5{
    border: solid 2px none;
    background-color: #351165;
    margin: 10px;
    border-radius: 40px;
    padding: 40px;
}
.wcsimg{
    max-height: 60px;
    max-width: 60px;
}

.wcsh4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.wcsp{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 70%;
}





/* Featured section */

.featured{
    background-color: #1A0B2E;
}





.ftrytc{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 120px 240px;

}

.ft{
    max-width: 1200px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

.ytcti{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;

}

.ytcdes{
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;

}

.ftrht{
    max-width: 1200px;
    padding: 0 auto;
    margin: 0 auto;
    padding: 40px 40px;

}


.ftrhtb{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    padding: 40px 40px;
    background-color: #351165;

}

.ytcdur{
    font-size: 1rem;
    font-weight: bold;
    color: #00FF88;

}

.fh3{
    color: #FFFFFF;
    font-weight: bold;
}


.fp{
    font-size: 1rem;
    color: #FFFFFF;
}

.ful{
    max-width: 14rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}



.fulimg{
    max-width: 40px;
    max-height: 40px;
    border: 1px solid black;
    border-radius: 50%;
}


/* Footer section */

.foo{
    max-width: 4000px;
    height: 40vh;
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}




.foo1{
    max-width: 2000px;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;

}

.fooul{
    list-style: none;
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-evenly;
}

.fullimg{
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.fullp{
    font-size: 1rem;
    color: #FFFFFF;
}


.end{
    max-width: 1300px;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;

}


@media screen and (max-width:800px) {


/* Navbar section */


    .navul, .navbtn{
        display: none;
    }

    .navp{
        font-size: 1.5rem;
        font-weight: 500;

    }

    .navbtnh{
        display: flex;
        background: none;
        max-width: 24px;
        max-height: 24px;
        
    }


    /* Banner section */

    .circle{

        position: relative;
        top: -50px;
        
        width: 170px;
        height: 170px;
        background-image: url(./assets/hero-circle.png);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 2;
    }


    .outer{
        height: 100vh;
        position: relative;
        
        width: 800px;
        height: 400px;
        background-image: url(./assets/hero-bg.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 3;

    }



    .inner{
        size-adjust: inherit(30%); 

        
        
       
    }

    



/* About section */

    .aboutdn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    }


/* WSC section */

    .wcs{
        padding: 20px;
    }

    .wcsm{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .wscmc{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        

        
        
    }

    /* Featured section  */




    .featured{
        display: flex;
        flex-direction: column;
        padding: 10px ;
        
    }

    

    

    .ftrytc{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;

    

    }   

    .htbimg, .ftrhtdes, .ful{
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    .ftrht, .ftrhtb{
        display: flex;
        flex-direction: column;
    }


    /* Footer section */

    .foo{
        max-width: 1500px;
        height: 40vh;
        background-image: url(./assets/footer-bg.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    





    


    
}